@using FlowerServiceLibrary;
@model FlowerServiceLibrary.Plantation;

<h1>Редактирование информации о плантации</h1>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="list-group">
                    @if (Model.PlantationFlowers.Count() == 0)
                    {
                        <div class="list-group-item clearfix">
                            <h3 class="text-danger"> Цветы на плантации отсутствуют</h3>
                        </div>
                    }
                    else
                    {
                        foreach (PlantationFlower plantationFlower in Model.PlantationFlowers)
                        {
                            <div class="list-group-item">
                                @plantationFlower.Flower.Name
                                <span class="float-right">
                                    <a asp-action="FlowerDetails" asp-route-placeId="@plantationFlower.PlaceId" asp-route-flowerId="@plantationFlower.FlowerId" class="btn btn-info">Подробности</a>
                                    <a asp-action="FlowerEdit" asp-route-placeId="@plantationFlower.PlaceId" asp-route-flowerId="@plantationFlower.FlowerId" class="btn btn-primary">Редактировать</a>
                                    <a asp-action="FlowerDelete" asp-route-placeId="@plantationFlower.PlaceId" asp-route-flowerId="@plantationFlower.FlowerId" onclick="return confirm('Вы действительно хотите удалить плантацию ?')" }) class="btn btn-danger">Удалить</a>
                                </span>
                            </div>
                        }
                    }
                    <div class="list-group-item">
                        <a asp-action="FlowerCreate" asp-route-id="@Model.Id" class="btn btn-secondary">Добавить</a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-danger">Назад</a>
                <input type="submit" value="Редактировать" class="btn btn-success" />
            </div>
        </form>

    </div>
</div>


