@model FlowerServiceLibrary.PlantationFlower

@{
    ViewData["Title"] = "FlowerDetails";
}

<h1>FlowerDetails</h1>

<div>
    <h4>PlantationFlower</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlowerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlowerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
